@tailwind base
@tailwind components
@tailwind utilities

@import 'variable'
@import url('https://fonts.googleapis.com/css2?family=B612 Mono:wght@400;700&display=swap')

body
    font-family: $barlow-font

.h-max-content
    height: 580px

.bg-secondary-dark
    background-color: $bg-secondary-dark !important

.bg-primary-dark
    background-color: $primary-dark

.bg-secondary-color
    background-color: $secondary-color !important

.text-primary-color
    color: $text-primary

.text-green-secondary
    color: $text-green-secondary

.text-secondary-dark
    color: $text-secondary-dark

.color-secondary
    color: $secondary-color
