@import 'variable'

.text-logo
    color: $text-primary
    font-size: map-get($font-scales, sl)

.text-primary
    color: $text-primary
    font-size: map-get($font-scales, xs)

.icon-navbar
    color: $secondary-color